* {
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 12pt;
}

body {
    background-color: white;
}

h1,
h2,
h3,
h4 {}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 300px 300px 300px 1fr;
}

.grid--content {
    grid-column: 2/5
}

.grid--content--animals {
    grid-column: 2/5    
}

.subgrid {
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-gap: 20px;
}

.fill--up {
   
}

.image {
    padding-right: 20%;
}

.grid--content_firstColumn {
    grid-column: 2/3;
    /* border: 1px solid black; */
}

.grid--content_secondColumn {
    grid-column: 3/4;
}

.grid--content_thirdColumn {
    grid-column: 4/5
}

#background--home {
    height: 400px;
    background-image: url("https://picsum.photos/1170/500");
}

.grid--fullview {
    grid-column: 1/-1;
}

.center--elements {
    padding: 10% 20%;
}

.introduction {
    color: white;
}

.btn--style {}

#donate {
    text-align: center;
}

.btn--center {
    text-align: center;
}

#nav {}

.menu--list {}

#logo {
    max-width: 10%;
}

.menu--item {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

.link--item {
    padding: 5px 10px;
    /* border: 1px solid black; */
    border-radius: 6px;
    background-color: #37A73E;
    color: white;
}

.link--item:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

;